body {
    position: relative;
    margin: 0;
    background-color: #080808;
    overflow: hidden;
}

.tetra-master:not(.board) {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.cursor {
    z-index: 10;
}

.dimmed {
    opacity: .5;
}

.game {
    margin: auto;
    position: relative;
}