/* FIXME: Make it work with various grid sizes */
.board {
  padding: 16px;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column;
}

.board-cell {
  display: flex;
  padding: 0;
  border: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #8f9083;
}
